@import './variables';

.starred {
  
    footer {
        margin-top: 50px;

        .total-price {
            font-size: 1.8rem;
        }

        .btn {
            width: auto;
            padding: 0 $spacing-lg;                   
            font-size: 0.8rem;
            background: $primary-blue;
            border: none;
        }

        .back-button {
            color: $black;
            background: $gray-lighter;
        }

        .back-button:hover {
            background: darken($gray-lighter, 5%);
        }
    }
}
  